/*reset*/
html{background: none repeat scroll 0 0;color: #000;overflow-y: scroll;}
body{font-size: .14rem;font-family: verdana;line-height: 1.4em; font-family:Tahoma, Helvetica, Arial, sans-serif, nsimsun;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd{margin: 0;padding: 0;}
table{border-collapse: collapse;border-spacing: 0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var, strong{font-style: normal;font-weight: normal;}
ul li{list-style-image: none;list-style-position: outside;list-style-type: none;}
caption, th{text-align: left;}
h1, h2, h3, h4, h5, h6{font-size: 100%;font-weight: normal;vertical-align: baseline;zoom: 1;}
input, textarea, select, button{font-family: Verdana;font-size: 12px;font-weight: inherit; vertical-align:middle}
input[type=radio], input[type=checkbox]{vertical-align: middle;}
label input[type=radio], label input[type=checkbox]{margin-right:5px;}
/*base*/
a{text-decoration:none;}
a:focus{outline-style: none;outline-width: 0;}
a:link, a:visited, a:active{text-decoration: none;}
a:hover{text-decoration: underline;}
a.noline:hover{text-decoration:none;}
a.nohand{cursor:default;text-decoration:none;}
a.nohand:hover{text-decoration:none;}
.bold{font-weight:bold;}

