/*reset*/
html{background: none repeat scroll 0 0;color: #333;overflow-y: scroll;}
body{font-size: 12px;font-family: verdana;line-height: 1.4em; font-family:Tahoma, Helvetica, Arial, sans-serif, nsimsun;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd{margin: 0;padding: 0;}
table{border-collapse: collapse;border-spacing: 0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var, strong{font-style: normal;font-weight: normal;}
ul li{list-style-image: none;list-style-position: outside;list-style-type: none;}
caption, th{text-align: left;}
h1, h2, h3, h4, h5, h6{font-size: 100%;font-weight: normal;vertical-align: baseline;zoom: 1;}
input, textarea, select, button{font-family: Verdana;font-size: 12px;font-weight: inherit; vertical-align:middle}
input[type=radio], input[type=checkbox]{vertical-align: middle;}
label input[type=radio], label input[type=checkbox]{margin-right:5px;}
/*base*/
a{text-decoration:none;}
a:focus{outline-style: none;outline-width: 0;}
a:link, a:visited, a:active{text-decoration: none;}
a:hover{text-decoration: underline;}
a.noline:hover{text-decoration:none;}
a.nohand{cursor:default;text-decoration:none;}
a.nohand:hover{text-decoration:none;}

.commonpadding{padding: 4px;}
.number{color: #999;font-family: Arial;font-size: 12px;_vertical-align:text-top;}
.datetime{color: #999;}
.options{float: right;display: block;}
.error{color: red;}
.floatleft{float: left;}
.floatright{float: right;}
.aligncenter{text-align: center;}
.alignright{text-align: right;}
.alignleft{text-align: left;}
.block{display: block;}
.inlineblock{display:inline-block;}
.black{color:#404040!important;}
.gray{color: #999;}
.gray-d{color:#666;}
.red{color:#ed2668;}
.red-highlight{background-color:#ed2668; color:#fff}
.red-d{color:#fd262b;}
.orange{color:#fea700;}
.blue{color:#007bb9;}
.green, .green:hover{color:#8ec31e;}
.midLine{text-decoration:line-through;}
.forcewrap{word-wrap: break-word;word-break:break-all;text-overflow: hidden;overflow: hidden;}
.breakWord{word-wrap:break-word;}
.borderless{border: none;}
label.checkbox, label.radio, label.text{padding-left: 4px;vertical-align: top;}
/*clear*/
.clear{clear:both;line-height: 0;height:0;font-size:0;}
.clearfix:after {content: ".";display: block;height:0;clear: both;visibility: hidden}
.clearfix {zoom:1}
/*layout*/

.ajax-loading-max , .ajax-loading-min{display:inline-block;font-size:0;line-height:0;margin:0 5px;vertical-align:middle}
.ajax-loading-max{background: url(/www/core/css/global/ajax_loading_max.gif) no-repeat;width:32px;height:32px}
.ajax-loading-min{background:url(/www/core/css/global/ajax_loading_min.gif) no-repeat;width: 16px;height:16px}
/*loadingblock*/
.loadingblock{height:40px; display:inline-block; vertical-align:middle; background-image:url(/www/core/css/global/loading_max.gif); background-repeat:no-repeat; background-position:center center; text-indent:-999px;}
.loadingblock{display:block;}
/*loadinginline*/
.loadinginline{width:16px; height:16px; display:inline-block; background:url(/www/core/css/global/loading_min.gif) no-repeat; text-indent:-9999px;}
.tip{color:#999}
.txt-normal { border: 1px solid #89C5E3; font-size: 12px; padding: 4px; background-color:#fff;}
.txt-mouseover { border: 1px solid #888; }
.txt-focus { border: 1px solid #2276BB; background:url(/www/core/css/global/txt_bacground.png) no-repeat;}
.txt-error { border: 1px solid #F77677;}

.noborder,.noborder_left,.noborder_right,.noborder_top,.noborder_bottom{border:0px!important;}
.bold{font-weight:bold;}
.position{position:relative;}

