@charset "utf-8";

/* header开始 */
.content{width:15rem;}
.logo-wrapper{height: 1rem;background: url("./../images/logo_bg.png") top center no-repeat;}
.logo{width: 5.01rem;height: .51rem;background: url("./../images/logo.png") top center no-repeat;background-size: cover;}
.tel{width: 2rem;height: .37rem;margin-right: .23rem;}
.tel-num{width: 1.6rem;height: .37rem;font-size: .14rem;color: #000;line-height: .14rem;}
.tel-num .num{font-size: .24rem;line-height: .16rem;}
.tel-icon{width: .37rem;height: .37rem;background: url("./../images/icon_tel.png") top center no-repeat;background-size: cover;}
.banner-wrapper{min-height: 1rem;position: relative;}
.banner-wrapper .banner{height: 6rem;background: url("./../images/banner1.jpg") top center no-repeat;background-size: cover;position: relative;z-index: 1;}
.banner-wrapper .nav-wrapper{width:100%;height: .6rem;background-color: #0a6bb1;position: absolute;z-index: 9;opacity: 0.9;}
.banner-wrapper .nav-wrapper li{width:1.55rem;height: .6rem;line-height: .6rem;text-align: center;font-size: .16rem ;color: #ffffff;}
.banner-wrapper .nav-wrapper li:hover{background-color: #025189;}
.banner-wrapper .nav-wrapper .biao{width:1px;height: .11rem;background-color: #86b6d8;}
.banner-wrapper .nav-wrapper .biao.hover{background-color: #0a6bb1;}
/* header结束 */

/* 企业要闻开始 */
.news-wrapper{height: 5.43rem;background-color: #eef6fb;}
.news-wrapper .content{height: 4.27rem;background-color: #ffffff;}
.news-wrapper .left{width: 10.3rem;height: 4.27rem;}
.news-wrapper .left .img-wrapper{width: 5.4rem;height: 4.27rem;position: relative;}
.news-wrapper .left .img-wrapper .blue{width: 1.78rem;height: 1.46rem;position: absolute;left: 0;bottom: 0;background-color: #01a6e0;z-index: 1;}
.news-wrapper .left .img-wrapper .img{width: 4.65rem;height: 3.53rem;background-size: cover;background-position: center;position: relative;z-index: 2;}
.news-wrapper .left .news{width: 4.9rem;height: 3.38rem;margin-left: .16rem;padding-top: .15rem;}
.news-wrapper .left .news .title{width: 2.68rem;height: .23rem;margin-left: -.66rem;background-image: url('./../images/title_news.png');background-size: cover;background-position: center;position: relative;z-index: 3;}
.news-wrapper .left .news .news-name{line-height: .18rem;margin-top: .73rem;font-size: .18rem;color: #292929;font-weight: bold;}
.news-wrapper .left .news .news-date{line-height: .14rem;margin-top: .22rem;font-size: .14rem;color: #9a9a9a;}
.news-wrapper .left .news .news-text{width:4.75rem;line-height: 2;margin-top: .37rem;font-size: .14rem;color: #858585;overflow: hidden;max-height: 48rpx;-webkit-box-orient: vertical;word-wrap: break-word;white-space: pre-wrap;display: -webkit-box;text-overflow: ellipsis;-webkit-line-clamp: 2;}
.news-wrapper .left .buttons{width:.83rem;height:.36rem;margin-top: .75rem;}
.news-wrapper .left .prev{width:.36rem;height:.36rem;background-image: url('./../images/icon_c_prev.png');background-size: 100%;cursor: pointer;}
.news-wrapper .left .prev.click{background-image: url('./../images/icon_c_next.png');transform: rotate(180deg);}
.news-wrapper .left .next.click{background-image: url('./../images/icon_c_next.png');transform: rotate(0);}
.news-wrapper .left .next{width:.36rem;height:.36rem;background-image: url('./../images/icon_c_prev.png');transform: rotate(180deg);background-size: 100%;cursor: pointer;}
.news-wrapper .right{width:4.01rem;height:4.27rem;background-image: url('./../images/honor.png');padding-top: 1.4rem;box-sizing: border-box;}
.news-wrapper .right li{width:3rem;height:.56rem;line-height:.56rem;border-bottom: 1px solid #e1e1e1;font-size: .14rem;color: #000000;}
/* 企业要闻结束 */